.git
.gitignore
.env
.env.*
node_modules
vendor
Examen/vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
npm-debug.log
yarn-error.log
.DS_Store
